*,
*::before,
*::after {
    box-sizing: border-box;  
    margin:0;
    padding:0;
}

:root {
    --clr-primary:#f70058;
    --clr-dark:#0c0e36;
    --clr-light:#fff;
  
    --fw-normal:400;
    --fw-bold:700;
    --fw-black:900;
    --grid:minmax(1em, 10%) 
        minmax(10rem,12ch)
        minmax(10rem,23ch)
        minmax(1em,3fr)
        max-content
    }
 

body {
  
    font-family: 'Work Sans',sans-serif;
    font-size:1.125rem;

    color:var(--clr-dark);

    line-height:1.6;
   display: flex;
   flex-direction: column;
   min-height: 100vh;




}

h1,h2,h3 {
    line-height:1;
}
p {
    margin-top:0;
}

.btn {
    cursor: pointer;
    display:inline-block;
    font-size:1rem;
    padding:.5em 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration:none;
    font-weight:var(--fw-bold);
    margin-top:.75em;
}

.btn-primary {
    background-color:var(--clr-primary);
    color:var(--clr-light);
    
}
.btn-primary:hover {
    background-color: var(--clr-dark);
}

.btn-outline {
    outline:3px solid var(--clr-primary);
    outline-offset: -3px;
    color:var(--clr-primary);

    
}

.btn-outline:hover {
    background-color: var(--clr-dark);
    color:var(--clr-light);
    outline-color:var(--clr-dark) ;


}
header {
    background-color: var(--clr-light);
    text-align:center;
    
}

.logo {
    margin-top:1em;
}

.nav-list {
    display:flex;
    justify-content: space-between;
    max-width:30rem;
    margin:0 auto;
    margin-top:1em;
    padding:1em;
    font-size:.875rem;
    font-weight: var(--fw-bold);
    list-style:none;
    text-transform: uppercase;
    letter-spacing: 1px;
}




.nav-link {
    text-decoration:none;
    color:inherit;
}
.nav-link:hover {
    color: var(--clr-primary);
}

.weather {
    display:grid;
    grid-template-columns:min-content 1fr;
    background:var(--clr-dark);
    color:var(--clr-light);
    width:max-content;
    margin:.5em auto -1em;
    position: relative;
    z-index:1;
   

    
}
.weather-icon {
    grid-row: span 2;
    background-color:var(--clr-primary);
    padding:.5em;
    display:flex;

}
.weather-info {
    margin:0;
    margin-left:.75rem;
    text-align:left;
    color:rgba(255, 255, 255, .7);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:.75rem;
    display:flex;
    align-items: center;


}

.weather-info span {
    color:var(--clr-light);
    font-size:1rem;
    margin-left:auto;
    margin-right:.75rem;
    text-transform: none;
}
.weather-info:first-of-type {
    margin-top:.5em;
    margin-bottom:.5rem;
    position:relative;
}

.weather-info:first-of-type::after{
    content:'';
    position: absolute;
    background:var(--clr-light);
    opacity:.25;
    height:2px;
    width:calc(100% - .75rem);
    bottom:-.25rem;
}
.weather-info:last-of-type {
    margin-bottom:.5em;
}

.main {

    padding:3em 1em 10em;
    margin-bottom:0;
    flex:1;
    
}


.main-ski{
    background: url(../images/sking-cover.png);
    background-size:cover;





} 
.main-title {
    line-height:1;
    font-weight: var(--fw-black);
    font-size:2rem;
    margin-bottom: .75em;
}
.main-intro {
    margin-bottom:4em;
}
@media all and (min-width:700px){


    .main {
        display:grid;
        grid-template-columns:var(--grid);
        justify-items:start;
        padding-left:0;
        padding-right:0;
    
    }
    .main > * {
        grid-column:2/4;
    }
    .main-ski {
        background-position:left bottom;
    }

    



}



@media all and (min-width:1000px){
    header {
        display:grid;
        grid-template-columns: var(--grid);
        align-items: center;
        
        /* align-items: center; */
    }
 
    .logo,
    .nav,
    .weather {
        grid-row:1;
        margin:0;
    }
    .logo {
        grid-column:2;
    }
    .nav {
        grid-column:3/5;    
        justify-self: end;
        margin-right:3em;
    }
    .nav-list {
        margin-top:0;
    }
    
.nav-list-item {
    margin-left:1em;
    margin-right:1em;
}
    .weather {
        grid-column: -2/-1;
        justify-self: end;
    }
    

}

@media all and (min-width:1200px){
    .main-ski {
        background-position:center right;
    
    }
}